
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}
.responsivelmain{
    background-color: rgb(4, 82, 91);
    width: 1300px;
    margin: auto;
}

body{
    background-color: rgb(4, 82, 91);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabeçalho{
    background-color: #B98E18;   
    height: 70px;
    width: 100%;
}

#titulo-do-cabeçalho{
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 26px;  
}

/* main > Descrição*/

.titulo-da-descrição{
    font-size: 26px;
    margin-left: 15px;
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(233, 227, 227);
}

.main-frente-da-igreja{
    background-color: #b98e18;
    width: 800px ;
    height: 440px;
    padding: 5px;
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 20%;
}

.frente-da-igreja{
    width: 800px;
    height: 440px;
    border-radius: 15px;
}

.sub-titulo-da-descrição{
    font-size: 26px;
    margin-left: 15px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    color: rgb(210, 201, 201);
}

.paragrafo-do-titul-inicial{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 22px;
    text-align: justify;
    font-family: "Pt Sans", sans-serif;   
    font-weight: 250;
    font-style: normal;;
    color: rgb(202, 202, 197);
}

.pastores{
    display: flex;
    margin-left: 20%;
}

.area-do-pastor-presidente{
    margin-left: 100px;
    margin-top: 50px;
    background-color: #b98e18;
    padding: 5px;
    border-radius: 15px;
    width: 260px;
    height: 450px;
}

.pastor-presidente-img{
    width: 260px;
    height: 190px;
    border-radius: 20px;
    border-radius: 10px 10px 0px 0px;
}

.nome-pastor-presidente{
    font-size: 16px;
    margin-top: 8px;
    color: rgb(231, 231, 226);
    padding: 5px;
}

.paragrafo-do-pastor-presidente{
    font-size: 13px;
    padding: 5px;
    text-align: justify;
}


.logo-semana-envagelistica{
    width: 400px ;
    height: 350px ;
    margin-left: 450px;
}


/* main > formulário*/

.formulario{
    color: rgb(255, 255, 255);
    background-color: rgb(2, 108, 117);
    min-width: 100px;
    max-width: 500px;
    margin: auto;
    margin-top: 60px;
    height: 710px;
    border-radius: 15px;
    border: 2px solid #D4A227;
}

.titulo-do-formulario{
    text-align: center;
    background-color:#D4A227;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.inputs-do-formulario{
    margin-left: 45px;
    margin-top: 30px;
}

.inputs-de-entradas{
    font-size: 23px;
    padding-top: 20px;
    margin-left: 5px;
}

.caixa-de-inputs{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(12, 88, 147);
}

.caixa-de-marcação{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

#caixa-checkbox{
    width: 30px;
}

#bttn-enviar{
    width: 260px;
    height: 45px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 35px;
    background-color:#D4A227;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid rgba(3, 3, 3, 0.514);
}

#bttn-enviar:hover {
   background-color: #ffb700;
}

/* Footer > Rodapé Final */

.rodapé-final{
    text-align: justify;
    margin-top: 30px;
    padding: 10px;
    background-color: #023c42;
    color: white;
    font-size: 11px;
    width: 100%;
    height: 300px;
}

/* Telas de tablets*/

@media screen and (max-width: 900px) {

.responsivelmain{   
    width: 900px;
    margin: auto;
}

.main-frente-da-igreja{
    width: 70%;
    margin: auto;
    margin-top: 70px;
}

.frente-da-igreja{
    width: 100%;
}

.pastores{
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-left: 20px;
}

.logo-semana-envagelistica{
    width: 400px ;
    height: 350px ;
    margin: 50px;
    margin-left: 28%;

}

}

/* Telas de celulares */

@media screen and (max-width: 500px) {

.responsivelmain{   
    width: 100%;
}

#titulo-do-cabeçalho{
    padding: 0%;
    margin-left: 15px;
    padding-top: 20px;
}

.titulo-da-descrição{
    font-size: 26px;
}

.main-frente-da-igreja{
    margin-left:10%;
}

.sub-titulo-da-descrição{
    font-size: 24px;
    margin-top:60px;
}

.paragrafo-do-titul-inicial{
    font-size: 16px;
    margin: 15px;
}

.pastores{
    display: block;
    margin: 14%;
}

.area-do-pastor-presidente{
    margin-left: 0px;
}

.logo-semana-envagelistica{
    width: 300px ;
    height: 300px ;
    margin-left: 11%;
}



/* main > formulário*/

.formulario{
    color: rgb(255, 255, 255);
    background-color: rgb(2, 108, 117);
    width: 340px;
    margin: auto;
    margin-top: 60px;
    height: 600px;
    border-radius: 15px;
    border: 2px solid #D4A227;
    
}

.titulo-do-formulario{
    text-align: center;
    background-color:#D4A227;
    border-radius: 10px 10px 0px 0px;
    height: 40px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.inputs-do-formulario{
    margin-left: 20px;
    margin-top: 20px;
}

.inputs-de-entradas{
    font-size: 18px;
    padding-top: 10px;
    margin-left: 5px;
}

.caixa-de-inputs{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 17px;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(12, 88, 147);
}

.caixa-de-marcação{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
}

#caixa-checkbox{
    width: 30px;
}

#bttn-enviar{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    margin-left: 48px;
    margin-top: 35px;
    background-color:#D4A227;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid rgba(3, 3, 3, 0.514);
}

.main-frente-da-igreja{
    background-color: #b98e18;
    width: 330px ;
    height: 280px;
    padding: 5px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 6%;
}

.frente-da-igreja{
    width: 330px;
    height: 280px;
    border-radius: 15px;
}


}